@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0px;
    font-family: Quicksand;
}

.Navbar-container {
     background-color: #ef5350;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-img {
    margin: 0 auto;
    width: 160px;
}


.searchbar-container {
    display: flex;
    margin: 0px auto;
    padding: 0 20px;
    align-items: center;
}

.searchbar {
    background-color: white;
    margin-right: 20px;
}

.searchbar input {
 
    outline: none;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.search-btn button {
    background-color: #8e6f9f;
    border: none;
    border-radius: 10px;
    height: 44px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

.pokedex-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.pokedex-grid {
 
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.pokemon-card {
    background-color: #9fd3c7;
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.pokemon-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.pokemon-img-container {
padding: 0px 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    flex: 1;
    
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-top h3 {
    text-transform: capitalize; 
    /* letras em maiusculo */
}

.card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon-type {
    display: flex;
  }
.pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
  }

.pagination-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pokemon-heart-btn{
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 4px;
    cursor: pointer;
}
.not-fount-text{
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
}
.favoriteBar {
    margin-right:20px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px dashed rgb(49, 49, 49);
    font-weight: bold;
}
.searchbar-btn button{
    background-color: gray;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px 14px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
}
.searchbar-btn button:hover{
    background-color: rgb(44, 160, 64);
    border: 2px solid rgb(44, 160, 64); ;
    transition: 1s;
}
.not-found-text{
 font-weight: bold;
text-align: center;

}
.App {
    text-align: center;
}